

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    /* width: 600px;
    background-color: whitesmoke; */
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer>.inner >h1{
    color: white;
    text-shadow: 2px 2px 2px blue;
    letter-spacing: 3px;
}

.outer>.inner{
    height: 300px;
    width: 700px;
    background-color: whitesmoke;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/572/47/710/zipper-ragnarok-lightning-warrior-gladiator-hd-wallpaper-thumb.jpg") ;
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-position: center;

    background-size: cover;


    border-radius: 20px;


    display: flex;
    justify-content: center;
    align-items: center;
}