*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{

    height: 100vh;
    flex-direction: column;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

    background: linear-gradient(to right, red,blue,gray);
    gap: 20px;
    
}

.outer > .c{
    height: 100px;
    width: 100px;
    border: 3px solid black;

    background-color: burlywood;
    border-radius: 50%;
    transition: all 2s ease-in;
}

.outer > #d1:hover{
    transform: translateX(90vw);
}

.outer > #d2:hover{
    border-radius: 0%;
    transform: translateX(95vw) rotate(180deg);
    /* transform: translate(90vw) rotateX('180deg'); */
}

.outer > #d3:hover{
    transform: translateX(90vw) skew(45deg);
}

.outer > #d4:hover{
    transform: translate(100vw,-40vw);
}